@model eProject.Models.Category
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class=col-md-6>
            <form asp-action="Create" method="post" style="border:gray ridge 1px; padding:30px;margin:40px;">
                <h3 style="text-align:center;color:blue;">Create Category</h3>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
            <form asp-action="Edit" method="post" style="border:gray ridge 1px; padding:30px;margin:40px;">
                <h3 style="text-align:center;color:blue;">Edit Category</h3>
                <div class="form-group">
                    <label>Select CategoryName to edit</label>
                    <select class="form-control select" style="width: 100%;" asp-for="CategoryId" asp-items="@ViewBag.Category" required>                        
                            <option value="0">--select---</option>                      
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="CategoryName" class="control-label"></label>
                    <input asp-for="CategoryName" class="form-control" />
                    <span asp-validation-for="CategoryName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
        <div class=col-md-6 style="padding-left:100px;">
            <h2 style="color:blue;">Management Category</h2>
            <table class="table table-hover table-bordered">
                <thead class="table-info">
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.Cat)
                    {
                        <tr>
                            <td>@item.CategoryId</td>
                            <td>@item.CategoryName</td>
                            <td>
                                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryId }, new { onclick = "return confirm('Are you sure to delete?')" })                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>