@{ 
    ViewBag.Title = "Thanks";
}
<div style="margin:10%;padding:10%;">
    <h3>
        Congratulations, you have successfully paid! If you have any questions, please email
        <a href="mailto:orders@example.com">OnlineAuction-group3@gmail.com</a>.
    </h3>
</div>